.topbox{
      padding:0;
      margin:0 auto;
      width:55.4%;
      height:60px;
      background-color: gray;
    }
    body{
      margin:0;
      padding: 0;
      background-image: src
    }
    div{
      margin: 0;
      padding: 0;
    }
    .topbox ul{
      list-style: none;
      padding: 0 0 0 0;
      margin:0;
      float:left;
    }
    .topbox li {
    float:left;
    color:white;
    border-left:1px solid #990000;
    height:60px;
    font-size: 2.5em;
    list-style:none;
    padding: 0px 20px 0px 25px;
    }
    .topbox a{
      color:green;
      text-decoration: none;
    }
    
    
    .academics:hover{
      background-color: black;
      border-radius: 20px;
      border:10px ;
    }
    .home:hover{
      background-color: black;
      border-radius: 20px;
      border:10px ;
    }
    .achievements:hover{
      background-color: black;
      border-radius: 20px;
      border:10px ;
    }
    .contact:hover{
      background-color: black;
      border-radius: 20px;
      border:10px ;
    }
    #Mainhead{
      color: violet;
      font-size: 3em;
      font-family: Impact, Charcoal, sans-serif;
      font-weight: lighter;
      padding-top: 30px;
      animation-name: example;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      text-align: center;
    }
     @keyframes example {
    from {color:violet;}
    to {color: orange;}
}
    #photo1{
      border:10px ;
      float:right;
      margin:60px;
    }
    #photo2{
      border:10px ;
      float:right;
      margin:60px;
    }
    #photo3{
      border:10px ;
      float:right;
      margin:60px;
    }
    
    #subhead{
      color:white;
      font-size: 2.5em;
      font-family: 'Butterfly Kids'
      font-weight: lighter;
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: justify;
      float: right;
    }
      
    .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
